html, body, h1, ul, li, a {
    padding: 0;
    border: 0;
    margin: 0;
}
body {
    background-color: #5f5f5f;
    padding: 0px 0px 0px 0px;
    background-image: url(11114056_10155837514955434_6794229165474201518_o.jpg);
    background-position: center;
    background-repeat: repeat;
}
.header {
    padding: 10px 10px 10px 10px;
    text-align: center;
    background-color: #add0fb ;
}
.main-content {
    padding: 10px 10px 10px 10px;  
}
.feactured-image {
    width: 630px;
    height: 246px;
}
.feactured-image {
    padding: 10px 0px 250px 10px;
    text-transform: uppercase;
    
    
}
.header a {
    color: #0b0c0b;
}
h1 {
    margin-top: 0px;
    margin-right: 0;
    margin-bottom: 500px;
    margin-left: 0;
    padding-bottom: 3px;
    text-align: center;
  
}
ul {
    padding: 0 0 0 50px;
}
a {
    text-decoration: none;   
}
ul li {
    display: inline;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
    padding-left: 0;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 50px; 
    margin-left: 0;
}
